body {
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    background: linear-gradient(#d8adad, transparent),
        linear-gradient(to top left, #b9a659, transparent),
        linear-gradient(to top right, #92b7d9, transparent);
    background-blend-mode: screen;
}

.card {
    position: relative;
    height: 100vh;
    aspect-ratio: 640/960;
}

.portrait {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #1a171799, #f0f0f010 90%);
}

.info {
    position: absolute;
    right: 0;
    bottom: 20%;
    left: 0;
    letter-spacing: 1px;
    color: #e6e6e6;
    text-align: center;
}

.name {
    width: 100%;
    font-size: 46px;
}

.description {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
    font-size: 23px;
    text-shadow: 1px 0px #626161;
}

.description a {
    color: #e0dddd;
    outline: none;
}

@media (max-width: 800px) {
    .card {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .name {
        font-size: 40px;
    }

    .description {
        font-size: 20px;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .card {
        justify-content: center;
    }

    .portrait {
        width: unset;
        height: 100%;
    }

    .name {
        font-size: 28px;
    }

    .description {
        font-size: 14px;
    }
}