@font-face {
  font-family: 'ContSans';
  font-style: normal;
  font-weight: normal;
  src: local('ContSans'),
    url('./fonts/ContSans-Regular.woff') format('woff'), 
}

@font-face {
  font-family: 'ContSans';
  font-style: normal;
  font-weight: bold;
  src: local('ContSans'),
    url('./fonts/ContSans-Bold.woff') format('woff'), 
}

body {
  display: block;
  font-family: Arial, sans-serif;
  margin: 0;
}

.packages,
.program,
.welcome {
  display: block;
  padding: 60px 0;
  text-align: center;
}

.packages {
  background-color: #efedf4;
  padding: 50px 0;
}

.program {
  padding: 60px 0 90px;
}

.package {
  display: inline-block;
  width: 414px;
  height: 892px;
  background-color: #ffffff;
  border-radius: 111px;
  vertical-align: top;
  position: relative;
  margin-top: 10px;
}

.package1 {
  margin-left: 12px;
  margin-right: 22px;
}

.package2 {
  margin-right: 12px;
  margin-left: 22px;
}

.welcome {
  font-size: 34px;
  font-weight: bold;
  color: #e4df49;
}

.title {
  font-size: 28px;
  color: #59389e;
  padding: 60px 0px 40px;
  position: relative;
}

.title_online:after {
  content: " на удалёнке";
  position: absolute;
  margin: 33px;
  left: 0;
  right: 0;
  font-size: 20px;
}

.package_content {
  text-align: left;
  color: #282828;
  padding: 0px 59px 28px 74px;
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 6px 0;
}

.package_content_base:before {
  color: #59389e;
  font-size: 15px;
  content: "\2714\fe0e";
  position: absolute;
  margin: 0 -23px;
}

.package_content_base:first-child,
.package_content_uniq_details:first-child {
  padding-top: 0;
}

.package_content_base:last-child,
.content_uniq_details:last-child {
  padding-bottom: 0;
}

.package_content_uniq_details {
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.separator {
  display: inline-block;
  height: 3px;
  width: 300px;
  background: linear-gradient(to left, #ffffff 0%, #5a39a194 50%, #ffffff 100%);
}

.prices {
  padding: 20px 0px 40px;
  color: #59389e;
  font-family: 'ContSans', Arial, sans-serif;
  letter-spacing: -0.5px;
}

.current_price {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 0;
}

.full_price {
  text-decoration: line-through;
}

.installment {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  /*border: 2px solid #ca5f64;*/
  /*border: 2px solid #8370ab;*/
  border: 2px solid #b2b1b1;
  position: absolute;
  right: 60px;
  transform: rotate(325deg);
}

.installment_circle {
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  /*border: 1px solid #ca5f64;*/
  /*border: 1px solid #8370ab;*/
  border: 1px solid #b2b1b1;
  top: 9px;
  left: 9px;
}

.installment_text {
  position: absolute;
  color: #fff;
  /*background-color: #db7e82;*/
  /*background-color: #7d69a7;*/
  background-color: #c1bdbd;
  font-family: 'ContSans', Arial, sans-serif;
  letter-spacing: -0.3px;
  padding: 0 4px;
  font-size: 14px;
  top: 20px;
  right: -17px;
}

.preregister {
  margin-top: 60px;
}

.preregister_link {
  display: inline-block;
  background-color: #eae52c;
  border-radius: 166px;
  width: 320px;
  height: 58px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-shadow: #c4c4c4 0px 0px 1px;
  line-height: 58px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.bubbly-button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(164, 169, 121, 0.5);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, transparent 20%, #eae52c 20%, transparent 30%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, transparent 10%, #eae52c 15%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, transparent 10%, #eae52c 15%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%), radial-gradient(circle, #eae52c 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e6e017;
  box-shadow: 0 2px 25px rgba(164, 169, 121, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.program_title {
  font-size: 31px;
  font-weight: bold;
  padding: 0 0 37px;
}

.program_content {
  display: inline-block;
  width: 636px;
  height: 1680px;
  background-color: #efedf4;
  border-radius: 111px;
  font-size: 17.5px;
  line-height: 1.4;
}

.program_list {
  padding: 0 80px;
}

.list_item_title {
  padding: 30px 0 25px;
}

.program_list_item:first-child {
  padding-top: 10px;
}

.list_item_content {
  text-align: left;
}
